#root,
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#36d1dc, #5b86e5);
    /* color:; */
    /* background: url(https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}